<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于页面</title>

    <!-- 完整引入bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- 设置特殊css -->
    <style>
        body {
            background-color: #f5f5f5;
        }

        h2 {
            margin-top: 30px;
        }

        .form-horizontal {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">关于页面</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="list.html">个人信息采集查看</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">其他网页 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="list.html">采集信息查看</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="index.html">首页</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center col-sm-offset-2 col-sm-8">
        <h3 class="text-center col-sm-offset-2 col-sm-8">实验目的：</h3>

        <p class="text-center col-sm-offset-2 col-sm-8">
            本实验考察学生对Web Service理论掌握的情况，通过⼀个具体的Web应用的前后端编写，
            实现相应的REST风格Web API，服务于前端网页、以及各种API调用。通过该实验过程，学生
            可以了解REST架构风格的特点、集合类资源的Web API设计方式、以JSON为格式的表述方法，
            从而加深对Web Service理论的理解。
        </p>

        <h3 class="text-center col-sm-offset-2 col-sm-8">
            本实验需实现以下要求：
        </h3>

        <ul class="text-left col-sm-offset-2 col-sm-8">
            <li>
                1. 编写网页前端，实现对⼈员信息的基本采集，包括：姓名、学号、邮箱、手机号码、个
                ⼈兴趣，共5项内容。其中，对学号、邮箱、手机号码应采取正则匹配验证（服务端或
                客户端验证，自行选择），对姓名、个⼈兴趣采取字符长度限制（姓名不超过8个中文
                字符，个⼈兴趣不超过32个中文字符，自行选择采取服务端或客户端验证）。
            </li>
            <li>2. 网页端页面流转逻辑参照课堂上所讲的 <b>YOUTYITWEPOSTIT</b> 网站逻辑。</li>
            <li>3. 编写客户端App代码，以独立应用程序的方式完成相应的功能……</li>
            <li>4. 编写服务端代码，以响应前端的请求。服务端除响应前端的网页请求外，还以API方式
                提供相应的服务……</li>
            <li>5. 信息资源以JSON方式组织，对信息条目的新增、删除、修改支持模版方式。（参照
                collection+json，自行定义资源模版）</li>
            <li>6. 本实验不限定所采⽤的编程语言，学生可以根据个⼈的偏好，自行选择。实验所准备的
                代码仅供参考。</li>

        </ul>
    </div>

</body>

</html>