body {
    font: 20px/28px 'Microsoft yahei';
    background: #f5f5f5;
    margin: 5% 10%;
}

h3 {
    font-weight: 700;
    text-align: left;
}

p {
    font-size: 16px;
    text-align: left;
}

.gray {
    color: gray;
    font-size: 12px;
    line-height: 16px;
}

.tdh {
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.hobby {
    width: 164px;
    height: 56px;
}