<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息采集查看</title>

    <!-- 完整引入bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- 设置特殊css -->
    <style>
        body {
            background-color: #f5f5f5;
        }

        h2 {
            margin-top: 30px;
        }

        .form-horizontal {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">采集信息查看</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">采集信息查看</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">信息采集主页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">其他网页 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="about.html">关于项目</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2 class="text-center">个人信息采集查看</h2>
    <p class="text-center">在下方查看采集的个人信息</p>


    <nav aria-label="..." class="text-center col-sm-offset-2 col-sm-8">
        <ul class="pager">
            <li class="previous"><a href="index.html"><span aria-hidden="true">&larr;</span> 首页</a></li>
            <li class="next"><a href="about.html">关于页面 <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>


</body>

</html>