<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息采集查看</title>

    <!-- 完整引入bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- 设置特殊css -->
    <style>
        body {
            background-color: #eeeeee;
        }

        h2 {
            margin-top: 30px;
        }

        .form-horizontal {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">采集信息查看</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">采集信息查看</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">信息采集主页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">其他网页 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="about.html">关于项目</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2 class="text-center">个人信息采集查看</h2>
    <p class="text-center">在下方查看已采集的个人信息</p>

    <!-- 从服务器查看获取个人信息采集的列表 -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>学号</th>
                            <th>邮箱</th>
                            <th>电话</th>
                            <th>兴趣</th>
                        </tr>
                    </thead>
                    <tbody id="tb1">
                        <!-- {% for item in data %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.hobby }}</td>
                        </tr>
                        {% endfor %} -->
                    </tbody>
                    <!-- 在表格下方加入查找、排序、新增按钮，位置居中，相互之间间隔一点距离 -->
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group col-md-2" role="group">
                                        <button type="button" class="btn btn-success" id="btnAdd"
                                            onclick="additem()">＜新增（去采集首页）</button>
                                    </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>

    <nav aria-label="..." class="text-center col-sm-offset-2 col-sm-8">
        <ul class="pager">
            <li class="previous"><a href="index.html"><span aria-hidden="true">&larr;</span> 采集首页</a></li>
            <li class="next"><a href="about.html">关于页面 <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>


    <script>
        // 从服务器查看获取个人信息采集的列表填充
        $(function () {
            $.ajax({
                url: 'http://localhost:1337/api/show',
                xhrFields: {
                    withCredentials: false
                },
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    data = data.data;
                    var html = '';
                    for (var i = 0; i < data.length; i++) {
                        // 表格每一行后面加上删除/修改按钮，且为每个按钮绑定事件，每一行的id为其学号
                        html += '<tr id=' + data[i].id + '><td>' + data[i].name + '</td><td>' + data[i].id + '</td><td>' + data[i].email +
                            '</td><td>' + data[i].phone + '</td><td>' + data[i].hobby + '</td><td><button class="btn btn-danger btn-sm" onclick="delitem(' + data[i].id + ')">删除</button></td><td><button class="btn btn-warning btn-sm" onclick="updateitem(' + data[i].id + ')">修改</button></td></tr>';
                    }
                    $('#tb1').html(html);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        // 删除按钮事件
        function delitem(id) {
            // 把对应行的id转为字符串，否则会被当成变量！
            id = id.toString();
            const data = { "id": id };
            // 删除对应行对应的json数据
            $.ajax({
                url: 'http://localhost:1337/api/delete',
                xhrFields: {
                    withCredentials: false
                },
                type: 'post',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data), // 将json对象转换为json字符串，对应的后端转换代码为：JSON.parse(req.body)
                success: function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        alert('删除成功');
                        // 删除对应行
                        $('#' + id).remove();
                        window.location.reload();
                    } else if (data.code == 500) {
                        alert('删除失败');
                    } else {
                        alert('删除错误');
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function updateitem(id) {
            alert("可前往APP端，使用 node app 命令进行修改查看\n更多查找、排序、新增功能同样可前往APP端^^");
        }

        function additem() {
            // 或许可以动态生成一个模态框，可以弹出来，包括一个表单，可以输入数据
            // 这里跳转到收集首页
            window.location.href = "index.html";
        }


    </script>
</body>

</html>